@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);
body {
  background-color: #f5f5f5;
}

a, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web",sans-serif;
}

h1, h5, h6 {
	font-weight: 700;
	text-transform: uppercase;
}

p {
  color: #888;
  font-size: 0.875em;
  line-height: 1.71429em;
  font-weight: 600;
}

p a {
  color: #888;
}

p strong {
  color: #000
}

h1 {
	color: #fff;
	font-size: 3em;
	text-align: center;
}

h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}

h3 {
  color: #2b373a;
  font-size: 1.5em;
  font-weight: 700;
  /* text-align: center; */
}

h4 {
  color: #2b373a;
  font-size: 1.25em;
  font-weight: 700;
}

button {
	cursor: pointer;
}

.container {
  max-width: 1170px;
	width: 95%;
	margin: 0 auto;
}

@media screen and (max-width: 460px) {
	h1 {
		font-size: 2.5em;
  } 
}